body{
    margin: 0px;

}
div{
    width:500px;
    
}
h1{
    margin:0px;
}
header{
    background-color: rgb(5, 5, 75);
    color:white;
    text-align: center;
}
menu{
    float:left;
    width:130px;
    height:30vh;
    margin:0px;
    background-color: rgb(154, 199, 236);

}
#section1{
    float:left;
    width:200px;
    height:30vh;
    background-color: rgb(226, 222, 218);
}
#section2{
    float:left;
    width:130px;
    height:30vh;
    background-color:cyan;
}
footer{
    clear: both;
    background-color: rgb(5, 5, 75);
    color:white;
    text-align: center;
}